
<!--Server eula modal-->
<div bsModal #serverModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myServerModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content -center">
	  <div class="modal-popup-close">
		<button type="button" class="modal-close " aria-label="Close" (click)="serverModal.hide()" title="Close">&times;</button>
	  </div>
	    <div class="modal-popup">
		  <header class="modal-popup-header">
			<h1>About</h1>
		</header>
		<div class="modal-popup-content">
		  <svg class="icon -logo"><use xlink:href="#svg_logo" /></svg>
		  Version: {{appVersion}}
		</div>
	  </div>
    </div>
  </div>
</div>