<header class="page-header flex items-center" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <h1 class="pr3">Loads</h1>
  <div [hidden]="isCommonCarrier">
    <a class="button -primary" [routerLink]="['NewLoad', {divId: divisionId}]"> <span class="plus">+</span>Create new load</a>
  </div>
</header>
<header class="page-header">
  <form action="" class="filters-form" role="form" (ngSubmit)="submit($event)" novalidate>
    <div class="form-group flex">
      <div class="col-4 pr3">
        <label class="form-label">Status</label>
        <transflo-dropdown [list]="filterStatus" (listChanged)="statusChanged($event)" [selectedList]="statusFilter" valueField="name" placeholder="Select statuses"></transflo-dropdown>
      </div>
      <div class="col-4 pr4 pl3" [ngClass]="{'col-8': !isCarrier}">
        <label class="form-label" for="filter_identifiers">Parameters</label>
        <input autocomplete="off" class="form-control" type="text" placeholder="Load #, BOL #, attributes" id="filter_identifiers" [(ngModel)]="paramsFilter" />
      </div>
	  <!--
      <div class="col-4 pr3" [hidden]="isCarrier">
        <label class="form-label">Broker</label>
        <transflo-dropdown [list]="filterDivision" (listChanged)="divisionChanged($event)" [selectedList]="divisionFilter" valueField="name" placeholder="Select brokers"></transflo-dropdown>
      </div>
	  -->
      <div>
        <label class="form-label">&nbsp;</label>
        <button class="button" type="submit" (click)="submit($event)">Apply</button>
      </div>
    </div>
    <div class="form-group -x3 filter-container" [hidden]="!filtersOpened">
      <div class="flex">
        <div class="col-4 pr4">
          <div class="form-label">Origin</div>
          <div class="form-group flex">
            <div class="col-4">
              <select class="form-control" [(ngModel)]="stateFilterShipping" placeholder="State" required>
                <option value="" hidden disabled selected>State</option>
                <option *ngFor="let state of states" [ngValue]="state">{{state}}</option>
              </select>
            </div>
            <div class="col-8 pl2">
              <input autocomplete="off" class="form-control" placeholder="City" [(ngModel)]="cityFilterShipping"/>
            </div>
          </div>
          <div class="form-group col-10">
            <div class="form-label">Shipping</div>
            <input autocomplete="off" class="form-control -select" placeholder="Select dates" range-picker [daterange]="filterDateShipping" (daterangechanged)="filterChanged($event, 'shipping')" />
          </div>
        </div>
        <div class="col-4 pr4">
          <div class="form-label">Destination</div>
          <div class="form-group flex">
            <div class="col-4">
              <select class="form-control" [(ngModel)]="stateFilterDelivery" placeholder="State" required>
                <option value="" hidden disabled selected>State</option>
                <option *ngFor="let state of states" [ngValue]="state">{{state}}</option>
              </select>
            </div>
            <div class="col-8 pl2">
              <input autocomplete="off" class="form-control" placeholder="City" [(ngModel)]="cityFilterDelivery"/>
            </div>
          </div>
          <div class="form-group col-10">
            <div class="form-label">Delivery</div>
            <input autocomplete="off" class="form-control -select" placeholder="Select dates" range-picker [daterange]="filterDateDelivery" (daterangechanged)="filterChanged($event, 'delivery')" />
          </div>
        </div>
        <div class="col-4">
          <div class="form-group -x3" [hidden]="!isCarrier">
            <label class="form-label">Offered to Driver</label>
            <transflo-dropdown [list]="drivers" (listChanged)="driverChanged($event, 'offered')" [selectedList]="offeredDriversFilter" valueField="text" placeholder="Select driver"></transflo-dropdown>
          </div>
          <div class="form-group"  [hidden]="!isCarrier">
            <label class="form-label">Assigned to Driver</label>
            <transflo-dropdown [list]="drivers" (listChanged)="driverChanged($event, 'assigned')" [selectedList]="assignedDriversFilter" valueField="text" placeholder="Select driver"></transflo-dropdown>
          </div>
          <div class="form-group"  [hidden]="!isCarrier">
            <label class="form-label">Assigned to Carrier</label>
            <transflo-dropdown [list]="carriers" (listChanged)="carrierChanged($event, 'assigned')" [selectedList]="assignedCarriersFilter" valueField="text" placeholder="Select carrier"></transflo-dropdown>
          </div>
        </div>
      </div>
      <button class="filters-clear" (click)="resetFilters($event)">Clear Filters</button>
    </div>
    <button type="button" class="filters-button" [ngClass]="{'-active': hasFilters()}" (click)="filtersOpened = true" [hidden]="filtersOpened">More Filters</button>
    <button type="button" class="filters-button -opened" (click)="filtersOpened = false" [hidden]="!filtersOpened">Less Filters</button>
  </form>
</header>

<div class="page-content">
  <div class="loading-text" [hidden]="!loading">Loading...</div>
  <table class="table table-hover" [hidden]="loading || !page.length">
    <thead>
      <tr>
        <th><a (click)="sortingField = 'shipping'; sortingIsAsc =! sortingIsAsc; submit($event);" [ngClass]="{'-asc': sortingIsAsc, '-desc': !sortingIsAsc, 'table-head-sort': sortingField == 'shipping'}">Shipping</a></th>
        <th><a (click)="sortingField = 'delivery'; sortingIsAsc =! sortingIsAsc; submit($event);" [ngClass]="{'-asc': sortingIsAsc, '-desc': !sortingIsAsc, 'table-head-sort': sortingField == 'delivery'}">Delivery</a></th>
        <th>Origin</th>
        <th class="-half"><span class="table-head-short">Stops</span></th>
        <th class="-half">Destination</th>
        <th>Identifiers</th>
        <th [hidden]="isCarrier">Carrier</th>
        <th [hidden]="!isCarrier">Broker</th>
        <th [hidden]="!isCarrier">Driver</th>
	    <th [hidden]="isCarrier"></th>
        <th>Status</th>
	
        <th >Attrs</th>
        <th width="1%" class="-half"></th>
      </tr>
    </thead>
    <tbody>
      <!--Single load-->
      <tr *ngFor="let load of page" [ngClass]="{'-new': load.marked}" (click)="gotoDetails(load.id, $event)">
        <td>
          <transflo-date class="height100" [date]="load.firstStop.date" [time]="load.firstStop.time"></transflo-date>
        </td>
        <td>
          <transflo-date [date]="load.lastStop.date" [time]="load.lastStop.time"></transflo-date>
        </td>
        <td>{{load.firstStop.addressLines.join(' ')}}, {{load.firstStop.city}} {{load.firstStop.state}} {{load.firstStop.postalCode}}</td>
        <td class="-half">
          <span class="label-count -red pointer"  (click)="getLoad(load, $event); loadDetailsPopup.show()" [hidden]="load.numberOfStops <= 1">{{load.numberOfStops}}</span>
        </td>
        <td class="-half">{{load.lastStop.addressLines.join(' ')}}, {{load.lastStop.city}} {{load.lastStop.state}} {{load.lastStop.postalCode}}</td>
        <td>
          <div class="form-group" [hidden]="!isCarrier">
            <span class="label-title">Load#</span>
            <span class="nowrap">{{load.carrierLoadNumber}}</span>
          </div>
          <div class="form-group" [hidden]="isCarrier">
            <span class="label-title">Load#</span>
            <span class="nowrap">{{load.brokerLoadNumber}}</span>
          </div>
          <div class="form-group">
            <span class="label-title">BOL</span>
            <span class="nowrap">{{load.bolNumber}}</span>
          </div>
        </td>
		<!--Broker carrier-->
        <td [hidden]="isCarrier">
          <div class="form-group">
            <span *ngIf="(!load.brokerTenderingInfo[0])" class="label-title nowrap">
          
			  <button class="button -outline -xs" type="button" *ngIf="(!load.carrierDivision || !load.carrierDivision.code)" [disabled]="load.status == 'Delivered'" (click)="gotoTendering(load.id, $event)"><span class="plus">+</span> Assign</button>
            </span>
            
          </div>
          <div class="form-group -x05">
            <div class="label-title">{{load.carrierDivision && load.carrierDivision.code}}</div>
            <div>
			  <div [hidden]="!load.brokerTenderingInfo[0]">
			    <span class="label-title nowrap">
			      Assigned to&nbsp;
			      <button class="button -outline -xs -icon" type="button" title="Edit" (click)="gotoTendering(load.id, $event)">
			        <svg class="icon -pen"><use xlink:href="#svg_pen" /></svg>
			      </button>
			    </span>
				{{load.brokerTenderingInfo[0] ? load.brokerTenderingInfo[0].name : ''}}
			  </div>
			</div>
          </div>
        </td>
        <td [hidden]="!isCarrier">
          <div class="label-title">{{load.brokerTenderingInfo[0] ? load.brokerTenderingInfo[0].name : '' }}</div>
		</td>
        <td>
          <transflo-drivers (onToggle)="setOpenedPopups($event)"  [drivers]="load.carrierTenderingInfo" [isCarrier]="isCarrier" [divisionId]="divisionId" [loadId]="load.id" [loadStatus]="load.status"></transflo-drivers>
        </td>
        <td >
          <span class="nowrap" [ngClass]="{'label-green': load.status == 'Available', 'label-red': load.status == 'Declined'}">{{load.status}}</span>
		
        </td>
        <td >
          <transflo-attributes [attrs]="load.loadAttributes" (onToggle)="setOpenedPopups($event)" >{{load.loadAttributes}}</transflo-attributes>
        </td>
		<td></td>
        <td class="-half">
          <div class="height100">
            <div class="dropdown" dropdown (onToggle)="setOpenedPopups($event)" keyboardNav="true" autoClose="outsideClick">
              <button class="table-actions" title="Actions" type="button" dropdownToggle>&bull;</button>
              <ul class="dropdown-menu -right dropdown-load" role="menu" dropdownMenu>
                <li role="menuitem">
                  <a class="dropdown-item" (click)="getLink(load, $event);" dropdownToggle>
                    Share
                  </a>
                </li>
                <li role="menuitem">
				          <a class="dropdown-item" (click)="editLoad(load, $event)" [hidden]="load.status=='Delivered'">Edit</a></li>
                <li role="menuitem" [hidden]="isCommonCarrier" [ngClass]="{'-disabled': isCommonCarrier}">
				          <a class="dropdown-item" (click)="cloneLoad(load, $event)">Clone</a></li>
                <li role="menuitem" [hidden]="isCarrier && load.brokerDivision" [ngClass]="{'-disabled': load.status == 'InTransit'}">
                  <a class="dropdown-item" (click)="showMoveLoadPopup(load, $event)" dropdownToggle>
                    Move to division
                  </a>
                </li>
                <!-- Document scans, remove comments below in further releases -->
                <li (mouseenter)="load.showDocuments=true" class="dropdown-submenu" (mouseleave)="load.showDocuments=false" role="menuitem">
                  <a dropdownToggle>View Document</a>
                  <ul type="1" class="dropdown-menu  dropdown-load"  *ngIf="load.showDocuments">
                    <li  *ngFor="let ds of load.documentScans">
                      <a class="dropdown-item" [href]="ds.url">{{ds.label.split('|')[0]}}</a>
                    </li>
                  </ul>
                </li>
                <!--<li role="menuitem" *ngFor="let link of load.menu">
                  <a class="dropdown-item" dropdownToggle href="{{link.url}}" target="_blank">{{link.name}}</a>
                </li>-->
                <li role="menuitem" [hidden]="isCommonCarrier" [ngClass]="{'-disabled': isCommonCarrier}">
				  <a class="dropdown-item label-red" (click)="deleteLoad(load, $event)">Delete</a></li>
              </ul>
            </div>

            <div class="dropdown-menu -right -xlg2 -shown" role="menu" [hidden]="loadSharePopupId != load.id" (click)="formClicked($event)">
              <h2>Tracking Link</h2>
              <div class="form-group">
                <input autocomplete="off" class="form-control" [(ngModel)]="load.trackingLink" readonly />
              </div>
              <div class="form-group -x2 nowrap flex items-center">
                <div class="bold label-danger pr2">Expires</div>
                <div class="pr2 col-4 flex">
                  <div class="col-5 -merged">
                    <input autocomplete="off" type="number" class="form-control" [value]="3" [(ngModel)]="load.expired"/>
                  </div>
                  <div class="col-7 -merged">
                    <select class="form-control" [(ngModel)]="load.time">
                      <option>hours</option>
                      <option>days</option>
                    </select>
                  </div>
                </div>
                <div class="flex-auto">after the load arrives at the destination.</div>
              </div>
              <hr />
              <div class="right-align" [hidden]="load.emailTracking || load.trackedEmails.length">
                <button type="button" class="button -link" (click)="load.emailTracking = true">Email Tracking Link</button>
              </div>
              <div class="flex items-baseline" [hidden]="!load.emailTracking && !load.trackedEmails.length">
                <div class="pr2 nowrap">Email tracking to</div>
                <div class="pr2 flex-auto">
                  <div xmlns="http://www.w3.org/1999/html" class="form-control multiple">
                    <!--template bindings={}-->
                    <span class="multiple-selected" *ngFor="let email of load.trackedEmails; let idx = index">
                      <span>{{email}}</span>
                      <span class="multiple-selected-delete" (click)="removeEmail(load, idx)" title="Delete">×</span>
                    </span>
                    <form (submit)="addEmail(load, true)">
                      <input autocomplete="off" (keyup)="keyUp(load, $event)" class="multiple-field ng-pristine ng-valid ng-touched" type="text" placeholder="Type email" [(ngModel)]="load.newEmail" (ngModelChange)="addEmail(load)" (blur)="addEmail(load, true)">
                    </form>
                  </div>
				  <br />
				  <div class="form-group">
				    <label for="additional_information" class="pr2 nowrap">Personalize Message</label>
				    <div class="pr2 flex-auto">
				      <textarea class="form-control" [(ngModel)]="info" rows="4" maxlength="1000" placeholder="Additional Message"></textarea>
				    </div>
				  </div>
                </div>
                <button class="button -outline self-end" type="button" (click)="sendTackingLink(load)">Send</button>
              </div>
            </div>
            <!-- Document scans, remove comments below in further releases -->
            <!--div class="dropdown-menu -right -shown" role="menu" [hidden]="docScansPopupId != load.id">
              <ul class="menu -overflow">
                <li *ngFor="let scan of load.documentScans" role="menuitem">
                    <a class="dropdown-item" href="{{scan.url}}" target="_blank">{{scan.label}}
                    </a>
                </li>
              </ul>
            </div-->

            <div class="dropdown-menu -right -lg2 -shown" [hidden]="loadMovePopupId != load.id" (click)="formClicked($event)">
              <h2>Move load to other division</h2>
              <div class="form-group flex">
                <div class="col-8 pr2">
                  <select [hidden]="isCarrier" class="form-control" [(ngModel)]="moveDivision">
                    <option *ngFor="let div of brokersForMove" [ngValue]="div">{{div.text}}</option>
                  </select>
                  <select [hidden]="!isCarrier" class="form-control" [(ngModel)]="moveDivision">
                    <option *ngFor="let div of carriersForMove" [ngValue]="div">{{div.text}}</option>
                  </select>
                </div>
                <div class="col-4">
                  <button class="button -outline -block" type="button" (click)="moveToDivision()">Move Load</button>
                </div>
              </div>
              <hr />
              <!--div class="form-group">
                <strong class="label-danger">Driver</strong> assignation <strong class="label-danger">will be dropped</strong>
                because Sebastian P. Fletcher isn’t related to Div NY.
              </div-->
            </div>
          </div>
        </td>
      </tr>
      <!--Line-->
    </tbody>
  </table>
  <div class="pagination" [hidden]="loading || !page.length">
    <div class="pagination-alert" [hidden]="!overLimit">
      <strong class="medium label-danger">Limit of 200 loads reached.</strong>
      Please, refine the filter settings. There are more loads but we can’t show them.
    </div>
    <a (click)="showAll()" [hidden]="showPagination" [ngClass]="{'-active': shownAll}">Show All</a>
    <a (click)="prevPage()" [hidden]="showPagination" class="-prev" [ngClass]="{'-disabled' : pageNum == 0}" title="Previous"></a>
    <a (click)="setPage(idx)" [hidden]="showPagination" *ngFor="let paginator of pages; let idx = index;" [ngClass]="{'-active' : idx == pageNum && !shownAll}">{{idx + 1}}</a>
    <a (click)="nextPage()" class="-next" [hidden]="showPagination" [ngClass]="{'-disabled' : pageNum == totalPages - 1}" title="Next"></a>
  </div>
  <div class="center p4 label-title" [hidden]="loading || page.length">
    <h2 class="mb2">No loads found for applied filtering conditions</h2>
    <h3>Please refine filters</h3>
  </div>
</div>



<!-- load details modal -->
<div bsModal #loadDetailsPopup="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <form action="" novalidate>
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="modal-close" aria-label="Close" (click)="loadDetailsPopup.hide();" title="Close">&times;</button>
          <h1 class="modal-title">Load #{{currentLoad.bolNumber}} Trip</h1>
        </div>
        <div class="modal-body" *ngIf="!loadLoading">
          <transflo-skeleton [load]="currentLoad"></transflo-skeleton>
        </div>
        <div class="modal-body" *ngIf="loadLoading">
          <span>Loading...</span>
        </div>
      </div>
    </form>
  </div>
</div>


<!--div class="modal-backdrop in fade" tabindex="-1" role="dialog" [hidden]="!loadMovePopupShown" (click)="hideMoveLoadPopup()">
    <div class="form-group flex" (click)="formClicked($event);">
      <h1>Move load to other division</h1>
      <div>{{moveDivision.text}}</div>
      <select [hidden]="isCarrier" [(ngModel)]="moveDivision">
        <option *ngFor="let div of filterDivision" [ngValue]="div">{{div.text}}</option>
      </select>
      <select [hidden]="!isCarrier" [(ngModel)]="moveDivision">
        <option *ngFor="let div of carriers" [ngValue]="div">{{div.text}}</option>
      </select>
      <button (click)="moveToDivision()">Move load</button>
      <p>Driver changed</p>

    </div>
</div-->