<style type="text/css">
  .wrapper {
    display: flex;
    background-color: #195f93;
    background-image: url('images/signin-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }
  .header, .footer {
    display: none;
  }
  .container.-main {
    flex: 1;
  }
</style>

<div class="signin">
  <div class="signin-header">
    <svg class="icon -logo-lg"><use xlink:href="#svg_logo_lg"/></svg>
  </div>
  <div class="signin-body">
    <div class="signin-content">
      <form novalidate>
        <div class="form-group">
          <a href="#" class="signin-back">Back to login</a>
        </div>
        <div class="form-group -x3 fs24">
          Link for password restore was sent
          to <a href="mailto:john.smith@globaltrans.com">john.smith@globaltrans.com</a>
        </div>
        <div class="signin-hr"></div>
        <div class="fs16">Check email and follow the link.</div>
      </form>
    </div>
  </div>
  <div class="signin-footer">
    &copy; Transflo, 2017
  </div>
</div>