<style type="text/css">
  .wrapper {
    display: flex;
    background-color: #195f93;
    background-image: url('images/signin-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    padding-top: 50px;
  }
  .header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
  .footer {
    display: none;
  }
  .container.-main {
    flex: 1;
  }
</style>

<div class="signin">
  <div class="signin-body">
    <div class="signin-content -list">
      <div class="form-group">
        <div class="signin-list-icon">
          <img src="./images/velocity1.png" width="176" height="176" alt="" class="signin-list-icon-img" />
        </div>
        <h1 class="signin-h1">Command Center</h1>
        <a href="#" class="signin-button -outline">Enter Command Center</a>
      </div>
      <div class="form-group -x9">
        <div class="signin-list-icon">
          <div class="form-group">
            <img src="./images/velocity2.png" width="176" height="176" alt="" class="signin-list-icon-img" />
          </div>
          <div class="form-group -x2">
            <a href="#" class="signin-download">
              <img src="./images/download.png" width="21" height="19" alt="" />
              <span>Download app</span>
            </a>
          </div>
        </div>
        <h1 class="signin-h1">Transflo Velocity</h1>
        <a href="#" class="signin-button">Scan Document</a>
      </div>
    </div>
  </div>
  <div class="signin-footer">
    &copy; Transflo, 2017
  </div>
</div>