<h1 class="col-12">&nbsp;</h1>
<div class="container">
    <form (submit)="onSubmit($event)" id="customerAccessManagementForm" name="customer-access-management-form" novalidate>
        <div class="form-group col-3">
            <input autocomplete="off" class="form-control" placeholder="Find User" [(ngModel)]="filterStr" (ngModelChange)="onFilter($event)" />
        </div>
        <div class="form-group col-12">&nbsp;</div>
        <table class="table table-bordered customerAccessTable" cellpadding="5">
            <thead>
                <tr>
                    <th>Company</th>
                    <th>First&nbsp;Name</th>
                    <th>Last&nbsp;Name</th>
                    <th>Email&nbsp;Address</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <template ngFor let-user [ngForOf]="filteredUsers" let-i="index">
                <tr>
                    <td (click)="user.show = !user.show">
                        <a class="button -outline -md">
                            <ng-container *ngIf="user.show"><span class="minus"></span></ng-container>
                            <ng-container *ngIf="!user.show"><span class="plus"></span></ng-container>
                        </a>&nbsp;{{user.company}}</td>
                    <td (click)="user.show = !user.show">{{user.firstName}}</td>
                    <td (click)="user.show = !user.show">{{user.lastName}}</td>
                    <td (click)="user.show = !user.show">{{user.email}}</td>
                    <td><a class="button -outline -sm float-right" [hidden]="!user.show" (click)="onAddFleet(user)"><span class="plus"></span></a></td>
                </tr>
                <template ngFor let-fleet [ngForOf]="user.fleets" let-idx="index">
                    <tr [ngClass]="(user.show == true) ? 'open':'close'">
                        <td colspan="1">&nbsp;</td>
                        <td colspan="5">
                            <h4 class="fleet-header">
                                <span class="button -outline -md" (click)="fleet.show = !fleet.show">
                                    <ng-container *ngIf="fleet.show"><span class="minus"></span></ng-container>
                                    <ng-container *ngIf="!fleet.show"><span class="plus"></span></ng-container>
                                </span>&nbsp;&nbsp;{{fleet.fleetName}}
                                <span class="float-right">
                                    <button *ngIf="fleet.show" class="button -outline -md -icon" type="button" title="Edit" (click)="onAddPermission(fleet.permissions)"><span class="plus"></span></button>
                                    <button type="button" class="button -icon -outline-danger" title="Delete" (click)="onDeleteFleet(i, idx)"><svg class="icon -trash"><use xlink:href="#svg_trash"/></svg></button></span>
                            </h4>
                            <table class="fleet-table" [ngClass]="(fleet.show == true) ? 'open':'close'" width="100%">
                                <tr *ngFor="let permission of fleet.permissions; let permissionIndex = index">
                                    <td>
                                        <input type="checkbox" [(ngModel)]="permission.isEnabled"/>
                                    </td>
                                    <td>
                                        <select class="form-control" [(ngModel)]="permission.type" (ngModelChange)="permission.changed = true; onPermissionChange(permission)">
                                            <option *ngFor="let permissionType of permissionTypes" [value]="permissionType.value">{{permissionType.string}}</option>
                                        </select>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" [(ngModel)]="permission.key" name="key" placeholder="attribute" [attr.list]="'keyAttributes-' + i + idx + permissionIndex" [disabled]="(permission.type == 0)" (ngModelChange)="permission.changed = true"/>
                                        <datalist [id]="'keyAttributes-' + i + idx + permissionIndex">
                                            <ng-container *ngIf="permission.type == 1"><option *ngFor="let attr of permissionAttributes" [value]="attr.string">{{attr.string}}</option></ng-container>
                                            <ng-container *ngIf="permission.type == 2"><option *ngFor="let attr of permissionStates" [value]="attr.string">{{attr.string}}</option></ng-container>
                                            <ng-container *ngIf="permission.type == 3"><option *ngFor="let attr of permissionCompanies" [value]="attr.string">{{attr.string}}</option></ng-container>
                                        </datalist>
                                    </td>
                                    <td>
                                        <input *ngIf="permission.type != 2" type="text" class="form-control" name="value" placeholder="value" [(ngModel)]="permission.value" [disabled]="(permission.type == 0)" (ngModelChange)="permission.changed = true"/>
                                        <transflo-modal-select *ngIf="permission.type == 2" [items]="ustates" [name]="'States'" [model]="permission.value" (listChanged)="permission.value = $event; permission.changed = true"></transflo-modal-select>
                                    </td>
                                    <td>
                                        <button type="button" class="button -icon -outline-danger float-right -sm" title="removePermission" 
                                        (click)="onDeletePermission(user.id, fleet.fleetId, fleet.fleetName, permission, fleet.permissions, permissionIndex)"><svg class="icon -trash"><use xlink:href="#svg_trash"/></svg></button>
                                        <span class="float-right">&nbsp;</span>
                                        <button type="button" class="button -icon -outline-primary float-right -sm" title="savePermission" (click)="onSavePermission(user.id, fleet.fleetId, fleet.fleetName, permission)" [hidden]="!(permission.changed)"><span class="plus"></span></button>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </template>
            </template>
        </table>
        <div class="form-group col-12 ">&nbsp;</div>
        <div class="form-group col-12 ">
            <button class="button float-right" (click)="addNewUserModal.show()" type="button">Add New User</button>
        </div>
    </form>
</div>
<!-- modals -->
<div bsModal #addFleetModal="bs-modal" (onHide)="onCloseAddFleetModal()" class="modal fade addFleetModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
                <div class="modal-content -center">
                        <div class="modal-header col-12">
                                <button aria-label="Close" class="modal-close" tabindex="-1" title="Close" type="button" (click)="addFleetModal.hide()"></button>
                                <h1 class="modal-title inline-block">Add&nbsp;Fleet</h1>
                        </div>
                        <div class="modal-body col-12">
                                <div *ngFor="let alert of alerts; let i = index" class="alert col-12 {{alert.class}}"><span>{{alert.message}}</span><i class="modal-close alert" (click)="removeAlert(i)"></i></div>
                                <form [id]="'addFleetForm'" name="add-fleet-form" role="form" (ngSubmit)="addFleet(userDivisions[modalIndex])" validate>
                                        <div class="form-group flex justify-between">
                                                <div class="col-10 pr3">
                                                        <select class="form-control" placeholder="fleet" [id]="'fleetSelect'" [(ngModel)]="modalIndex" required>
                                                                <option *ngFor="let fleet of userDivisions; let i = index" [value]="i">{{fleet.name}}</option>
                                                        </select>
                                                </div>
                                                <button class="button" type="submit">Add</button>
                                        </div>
                                </form>
                        </div>
                        <div class="modal-footer col-12"></div>
                </div>
        </div>
</div>

<div bsModal #addNewUserModal="bs-modal" (onHide)="onCloseNewUserModal()" class="modal fade addNewUserModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <i class="modal-close" (click)="addNewUserModal.hide()"></i>
        <div class="modal-content -center">
            <div class="modal-head"></div>
            <div class="modal-body col-12">
                <div *ngFor="let alert of alerts; let i = index" class="alert col-12 {{alert.class}}"><span>{{alert.message}}</span><i class="modal-close alert" (click)="removeAlert(i)"></i></div>
                <form [id]="'searchUser'" name="search-user-form" validate role="form" (ngSubmit)="onUserSearch(emailSearchStr)">
                    <div class="form-group flex justify-between">
                        <div class="col-10 pr3">
                            <input autocomplete="off" class="form-control" type="email" maxlength="100" placeholder="Email" [(ngModel)]="emailSearchStr" required/>
                        </div>
                        <button class="button" type="submit">Search</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer col-12">
                <form [id]="'addSearchUser'" name="add-search-user-form" validate role="form" (ngSubmit)="onAddUserPermission(newUserData)" [hidden]="!newUserData.id">
                    <table class="table table-bordered addUserTable" width="100%" cellpadding="5">
                        <thead>
                            <tr>
                                <th>Company</th>
                                <th>First&nbsp;Name</th>
                                <th>Last&nbsp;Name</th>
                                <th>Email</th>
                                <th>Password</th>
                            </tr>
                        </thead>
                        <tr align="left">
                            <td style="border: none">
                                <input autocomplete="off" class="form-control" placeholder="Company" maxlength="100" [(ngModel)]="newUserData.company" required />
                            </td>
                            <td style="border: none">
                                <input autocomplete="off" class="form-control" placeholder="First Name" maxlength="50" [(ngModel)]="newUserData.firstName" required />
                            </td>
                            <td style="border: none">
                                <input autocomplete="off" class="form-control" placeholder="Last Name" maxlength="50" [(ngModel)]="newUserData.lastName" required />
                            </td>
                            <td style="border: none">
                                <input autocomplete="off" type="email" class="form-control" placeholder="Email" maxlength="100" [(ngModel)]="newUserData.email" required/>
                            </td>
                            <td style="border: none">
                                <input autocomplete="off" type="password" class="form-control" placeholder="Password" maxlength="50" [(ngModel)]="newUserData.password" />
                            </td>
                        </tr>
                    </table>
                    <div class="form-group col-12 ">&nbsp;</div>
                    <button class="button" type="submit"><span class="plus"></span>&nbsp;Add&nbsp;User</button>
                </form>
                <form [id]="'associateUser'" name="associate-user-form" validate role="form" (ngSubmit)="onAddUserPermission(userTableData)" [hidden]="userTableData.length <= 0">
                    <table class="table table-bordered addUserTable" width="100%" cellpadding="5">
                        <thead>
                            <tr>
                                <th>Company</th>
                                <th>First&nbsp;Name</th>
                                <th>Last&nbsp;Name</th>
                                <th>Email</th>
                            </tr>
                        </thead>
                        <tr *ngFor="let user of userTableData" align="left">
                            <td style="border: none">{{user.company}}</td>
                            <td style="border: none">{{user.firstName}}</td>
                            <td style="border: none">{{user.lastName}}</td>
                            <td style="border: none">{{user.email}}</td>
                        </tr>
                    </table>
                    <div class="form-group col-12 ">&nbsp;</div>
                    <button class="button" type="submit"><span class="plus"></span>&nbsp;Associate&nbsp;User</button>
                </form>
            </div>
        </div>
    </div>
</div>
