<header class="page-header">
  <div class="flex items-center">
    <div class="flex-auto flex items-center">
      <h1 class="self-baseline">Load #8234593</h1>
      <div class="label-md bold pl3 self-baseline">BOL 9078 123-543-876 0001</div>
      <div class="pl3 self-baseline">
        <svg class="icon -danger"><use xlink:href="#svg_danger"/></svg>
        <svg class="icon -ruby"><use xlink:href="#svg_ruby"/></svg>
        <svg class="icon -fragile"><use xlink:href="#svg_fragile"/></svg>
      </div>
    </div>
    <div class="dropdown" dropdown keyboardNav="true" autoClose="outsideClick">
      <button type="button" class="button -icon -outline-danger" title="Delete"><svg class="icon -trash"><use xlink:href="#svg_trash"/></svg></button>
      <button type="button" class="button -outline" (click)="shipmentModal.show()">+ New Shipment</button>
      <div class="buttons-separator"></div>
      <div class="dropdown inline-block button-group" dropdown keyboardNav="true" autoClose="outsideClick" [isOpen]="true">
        <button type="button" class="button -icon -outline-danger -active fs17" dropdownToggle>!</button>
        <div class="dropdown-menu -md -center" role="menu" dropdownMenu>
          <h3 class="label-danger">Load can't be saved due to the following errors:</h3>
          <ul class="ul">
            <li>Freight Terms is required</li>
            <li>BOL is specified in incorrect format. <br /> Should be 4 blocks of 4 digits separated by '-'</li>
            <li>Either Carrier or Blocker ID should be specified</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <form action="" class="filters-form" role="form" novalidate>
    <div [hidden]="!detailsOpened">
      <hr />
      <div class="flex">
        <div class="col-4 pr3">
          <div class="form-group">
            <label class="form-label">Division</label>
            <select class="form-control">
              <option>Div 1</option>
              <option>Div 2</option>
            </select>
          </div>
          <div class="form-group -x3">
            <label class="form-label">Load# <small>Leave it blank if you want to fill it automatically</small></label>
            <input autocomplete="off" class="form-control" type="text" />
          </div>
          <div class="form-group">
            <label class="form-label">BOL#</label>
            <input autocomplete="off" class="form-control" type="text" />
          </div>
        </div>
        <div class="col-4 pr3 pl3">
          <div class="form-group">
            <label class="form-label">Freight Terms</label>
            <select class="form-control">
              <option>50</option>
              <option>100</option>
            </select>
          </div>
          <div class="form-group -x3">
            <label class="form-label">Carrier Special Instructions</label>
            <textarea autocomplete="off" class="form-control" rows="4" style="height: 90px;"></textarea>
          </div>
        </div>
        <div class="col-4 pl3">
          <div class="form-label -text form-group">Attributes</div>
          <div class="form-group">
            <table class="table -list">
              <tbody>
              <tr>
                <td class="align-middle center">
                  <svg class="icon -danger m0"><use xlink:href="#svg_danger"/></svg>
                </td>
                <td>
                  Hazardous
                  <button class="button -link label-danger bold">&times;</button>
                </td>
              </tr>
              <tr>
                <td class="align-middle center">
                  <svg class="icon -ruby m0"><use xlink:href="#svg_ruby"/></svg>
                </td>
                <td>
                  High Value
                  <button class="button -link label-danger bold">&times;</button>
                </td>
              </tr>
              <tr>
                <td class="align-middle center">
                  &bull;
                </td>
                <td>
                  Number of stop: 5
                  <button class="button -link label-danger bold">&times;</button>
                </td>
              </tr>
              <tr>
                <td class="align-middle center">
                  <svg class="icon -fragile m0"><use xlink:href="#svg_fragile"/></svg>
                </td>
                <td>
                  Fragile
                  <button class="button -link label-danger bold">&times;</button>
                </td>
              </tr>
              <tr>
                <td class="align-middle center">
                  &bull;
                </td>
                <td>
                  Phone number: (555) 555-1234
                  <button class="button -link label-danger bold">&times;</button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <hr />
          <div class="dropdown -inline" dropdown keyboardNav="true" autoClose="outsideClick">
            <button type="button" class="button -outline" dropdownToggle>+ Attribute</button>
            <div class="dropdown-menu -center -lg2" dropdownMenu>
              <div class="form-group flex">
                <div class="col-6 pr1">
                  <label class="form-label">Field</label>
                  <select class="form-control">
                    <option>Field 1</option>
                  </select>
                </div>
                <div class="col-6 pl1">
                  <label class="form-label">Value</label>
                  <input autocomplete="off" class="form-control" />
                </div>
              </div>
              <hr />
              <div class="form-group flex">
                <div class="flex-auto">
                  <button type="button" class="button -icon -outline-danger" title="Delete"><svg class="icon -trash"><use xlink:href="#svg_trash"/></svg></button>
                </div>
                <div>
                  <button type="reset" class="button -outline" dropdownToggle>Cancel</button>
                  <button type="button" class="button">Add</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="filters-button" (click)="detailsOpened = true" [hidden]="detailsOpened">
      Show Details
    </div>
    <div class="filters-button -opened" (click)="detailsOpened = false" [hidden]="!detailsOpened">
      Hide Details
    </div>
  </form>
</header>

<div class="page-content">

  <div class="skeleton">

    <div class="skeleton-item">
      <div class="skeleton-bubble -left">
        <div class="skeleton-bubble-header flex items-baseline">
          <strong class="flex-auto">Pick Up</strong>
          <small>480 ft³</small>
          <small>1,009 lbs</small>
        </div>
        <ul class="skeleton-bubble-list">
          <li>
            <span>1 pcs</span>
            <span>57 ft³</span>
            <span>57 lbs</span>
            <strong><a href="#">BOL 907</a></strong>
          </li>
          <li>
            <span>1 pcs</span>
            <span>57 ft³</span>
            <span>32 lbs</span>
            <strong><a href="#">S/ID 754</a></strong>
          </li>
          <li>
            <span>1 pcs</span>
            <span>68 ft³</span>
            <span>68 lbs</span>
            <strong><a href="#">S/ID 754</a></strong>
          </li>
          <li>
            <span>1 pcs</span>
            <span>123 ft³</span>
            <span>481 lbs</span>
            <strong><a href="#">BOL 8346</a></strong>
          </li>
        </ul>
      </div>
      <div class="skeleton-item-container -danger">
        <div class="flex flex-wrap content-stretch">
          <p class="col-6 pr2"><strong><span class="skeleton-sign">!</span> Mar 21</strong> All Day</p>
          <div class="col-6 right-align pl2">
            <strong class="pl2">127 ft³</strong>
            <strong class="pl2">481 lbs</strong>
            <div class="skeleton-item-hint">Truck Load</div>
          </div>
          <p class="col-6 self-end pr2 pt3"><strong>3036 Parkway Street,</strong> Desert Hot Springs USA, CA,15229</p>
          <div class="col-6 right-align self-end pl2 pt3">
            <strong>Dulce R. Morrow</strong>
            <div>Luria’s</div>
          </div>
        </div>
      </div>
      <div class="skeleton-item-footer" dropdown keyboardNav="true" autoClose="disabled">
        <button type="button" class="skeleton-item-add" dropdownToggle>+ Add Stop</button>
        <div class="dropdown-menu -lg -center" role="menu" dropdownMenu>
          <h2>Create Service Stop</h2>
          <div class="form-group">
            <label class="form-label">Adress Line 1</label>
            <input autocomplete="off" class="form-control" />
          </div>
          <div class="form-group">
            <label class="form-label">Adress Line 2</label>
            <div>
              <button class="button -outline -addon">+</button>
              <input autocomplete="off" class="form-control" />
            </div>
          </div>
          <div class="form-group flex">
            <div class="col-8 pr1">
              <label class="form-label">City</label>
              <input autocomplete="off" class="form-control" />
            </div>
            <div class="col-4 pl1">
              <label class="form-label">State</label>
              <input autocomplete="off" class="form-control" />
            </div>
          </div>
          <div class="form-group flex">
            <div class="col-8 pr1">
              <label class="form-label">Country</label>
              <input autocomplete="off" class="form-control" />
            </div>
            <div class="col-4 pl1">
              <label class="form-label">ZIP</label>
              <input class="form-control" />
            </div>
          </div>
          <hr />
          <div class="flex">
            <div class="col-5 pr1">
              <button class="button -outline -block" type="button" dropdownToggle>Cancel</button>
            </div>
            <div class="col-7 pl1">
              <button class="button -primary -block" type="button">Create Stop</button>
            </div>
          </div>
        </div>
      </div>
      <ul class="skeleton-item-controls -danger">
        <li>
          <button type="button" title="Move Up" disabled><svg class="icon -up"><use xlink:href="#svg_up"/></svg></button>
          <button type="button" title="Move Down"><svg class="icon -down"><use xlink:href="#svg_down"/></svg></button>
        </li>
        <li>
          <button type="button" title="Change Stop" (click)="stopModal.show()"><svg class="icon -pen-lg"><use xlink:href="#svg_pen_lg"/></svg></button>
        </li>
      </ul>
    </div>

    <div class="skeleton-item">
      <div class="skeleton-bubble -right">
        <div class="skeleton-bubble-header">
          <strong>Drop Off</strong>
        </div>
        <ul class="skeleton-bubble-list">
          <li>
            <span>5 pcs</span>
            <span>123 ft³</span>
            <span>481 lbs</span>
            <strong><a href="#">BOL 9078 123-543-876 0001</a></strong>
          </li>
        </ul>
      </div>
      <div class="skeleton-item-container -danger">
        <div class="flex flex-wrap content-stretch">
          <p class="col-6 pr2"><strong><span class="skeleton-sign">!</span> Mar 20</strong> Morning</p>
          <div class="col-6 right-align pl2">
            <strong class="pl2">234 ft³</strong>
            <strong class="pl2">201 lbs</strong>
            <div class="skeleton-item-hint">Truck Load</div>
          </div>
          <p class="col-6 self-end pr2 pt3"><strong>734 University Drive,</strong> Burr Ridge USA, IL, 60527</p>
          <div class="col-6 right-align self-end pl2 pt3">
            <strong>Fred P. Carr</strong>
            <div>Superior Interior Design</div>
          </div>
        </div>
      </div>
      <div class="skeleton-item-footer">
        <button type="button" class="skeleton-item-add" disabled>+ Add Stop</button>
      </div>
      <ul class="skeleton-item-controls -danger">
        <li>
          <button type="button" title="Move Up"><svg class="icon -up"><use xlink:href="#svg_up"/></svg></button>
          <button type="button" title="Move Down"><svg class="icon -down"><use xlink:href="#svg_down"/></svg></button>
        </li>
        <li>
          <button type="button" title="Change Stop" (click)="stopModal.show()"><svg class="icon -pen-lg"><use xlink:href="#svg_pen_lg"/></svg></button>
        </li>
      </ul>
    </div>

    <div class="skeleton-item">
      <div class="skeleton-item-container">
        <p>Stop</p>
      </div>
      <div class="skeleton-item-footer" dropdown keyboardNav="true" autoClose="disabled">
        <button type="button" class="skeleton-item-add" dropdownToggle>+ Add Stop</button>
        <div class="dropdown-menu -lg -center" role="menu" dropdownMenu>
          <h2>Create Service Stop</h2>
          <div class="form-group">
            <label class="form-label">Adress Line 1</label>
            <input autocomplete="off" class="form-control" />
          </div>
          <div class="form-group">
            <label class="form-label">Adress Line 2</label>
            <div>
              <button class="button -outline -addon">+</button>
              <input autocomplete="off" class="form-control" />
            </div>
          </div>
          <div class="form-group flex">
            <div class="col-8 pr1">
              <label class="form-label">City</label>
              <input autocomplete="off" class="form-control" />
            </div>
            <div class="col-4 pl1">
              <label class="form-label">State</label>
              <input autocomplete="off" class="form-control" />
            </div>
          </div>
          <div class="form-group flex">
            <div class="col-8 pr1">
              <label class="form-label">Country</label>
              <input autocomplete="off" class="form-control" />
            </div>
            <div class="col-4 pl1">
              <label class="form-label">ZIP</label>
              <input autocomplete="off" class="form-control" />
            </div>
          </div>
          <hr />
          <div class="flex">
            <div class="col-5 pr1">
              <button class="button -outline -block" type="button" dropdownToggle>Cancel</button>
            </div>
            <div class="col-7 pl1">
              <button class="button -primary -block" type="button">Create Stop</button>
            </div>
          </div>
        </div>
      </div>
      <ul class="skeleton-item-controls">
        <li>
          <button type="button" title="Move Up"><svg class="icon -up"><use xlink:href="#svg_up"/></svg></button>
          <button type="button" title="Move Down"><svg class="icon -down"><use xlink:href="#svg_down"/></svg></button>
        </li>
        <li>
          <button type="button" title="Change Stop" (click)="stopModal.show()"><svg class="icon -pen-lg"><use xlink:href="#svg_pen_lg"/></svg></button>
        </li>
      </ul>
    </div>

    <div class="skeleton-item">
      <div class="skeleton-bubble -right">
        <div class="skeleton-bubble-header">
          <strong>Drop Off</strong>
        </div>
        <ul class="skeleton-bubble-list">
          <li>
            <span>1 pcs</span>
            <span>57 ft³</span>
            <span>57 lbs</span>
            <strong><a href="#">BOL 907</a></strong>
          </li>
          <li>
            <span>1 pcs</span>
            <span>57 ft³</span>
            <span>32 lbs</span>
            <strong><a href="#">S/ID 754</a></strong>
          </li>
          <li>
            <span>1 pcs</span>
            <span>123 ft³</span>
            <span>481 lbs</span>
            <strong><a href="#">BOL 8346</a></strong>
          </li>
        </ul>
      </div>
      <div class="skeleton-item-container">
        <div class="flex flex-wrap content-stretch">
          <p class="col-6 pr2"><strong>Mar 23</strong> All Day</p>
          <div class="col-6 right-align pl2">
            <strong class="pl2">0 ft³</strong>
            <strong class="pl2">0 lbs</strong>
            <div class="skeleton-item-hint">Truck Load</div>
          </div>
          <p class="col-6 self-end pr2 pt3"><strong>2442 Clousson Road</strong> Desert Hot Springs USA, IA, 51034</p>
          <div class="col-6 right-align self-end pl2 pt3">
            <strong>Nathan V. Johnson</strong>
          </div>
        </div>
      </div>
      <div class="skeleton-item-footer" dropdown keyboardNav="true" autoClose="disabled">
        <button type="button" class="skeleton-item-add" dropdownToggle>+ Add Stop</button>
        <div class="dropdown-menu -lg -center" role="menu" dropdownMenu>
          <h2>Create Service Stop</h2>
          <div class="form-group">
            <label class="form-label">Adress Line 1</label>
            <input autocomplete="off" class="form-control" />
          </div>
          <div class="form-group">
            <label class="form-label">Adress Line 2</label>
            <div>
              <button class="button -outline -addon">+</button>
              <input autocomplete="off" class="form-control" />
            </div>
          </div>
          <div class="form-group flex">
            <div class="col-8 pr1">
              <label class="form-label">City</label>
              <input class="form-control" />
            </div>
            <div class="col-4 pl1">
              <label class="form-label">State</label>
              <input autocomplete="off" class="form-control" />
            </div>
          </div>
          <div class="form-group flex">
            <div class="col-8 pr1">
              <label class="form-label">Country</label>
              <input autocomplete="off" class="form-control" />
            </div>
            <div class="col-4 pl1">
              <label class="form-label">ZIP</label>
              <input autocomplete="off" class="form-control" />
            </div>
          </div>
          <hr />
          <div class="flex">
            <div class="col-5 pr1">
              <button class="button -outline -block" type="button" dropdownToggle>Cancel</button>
            </div>
            <div class="col-7 pl1">
              <button class="button -primary -block" type="button">Create Stop</button>
            </div>
          </div>
        </div>
      </div>
      <ul class="skeleton-item-controls">
        <li>
          <button type="button" title="Move Up"><svg class="icon -up"><use xlink:href="#svg_up"/></svg></button>
          <button type="button" title="Move Down" disabled><svg class="icon -down"><use xlink:href="#svg_down"/></svg></button>
        </li>
        <li>
          <button type="button" title="Change Stop" (click)="stopModal.show()"><svg class="icon -pen-lg"><use xlink:href="#svg_pen_lg"/></svg></button>
        </li>
      </ul>
    </div>

  </div>

</div>


<!-- Change stop modal -->
<div bsModal #stopModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myStopModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <form action="" novalidate>
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="modal-close" aria-label="Close" (click)="stopModal.hide()" title="Close">&times;</button>
          <h1 class="modal-title">Change Stop</h1>
        </div>
        <div class="modal-body">
          <div class="modal-cols flex">
            <div class="modal-cols-separator"></div>
            <div class="pl4 pr8 col-6">
              <h2 class="label-alert"><span class="icon -alert -lg"></span> You are about to change stop which is used by following shipments:</h2>
              <ul class="ul-short-list">
                <li>BOL <strong>1004 658-234-1</strong></li>
                <li>BOL <strong>4 658-234-1</strong></li>
                <li>S/ID <strong>234-1-1004 658</strong></li>
                <li>BOL <strong>1004 658</strong></li>
                <li>S/ID <strong>658-234-1</strong></li>
                <li>BOL <strong>34234-1-1004 658-1</strong></li>
              </ul>
            </div>
            <div class="pl8 pr4 col-6">
              <div class="form-group">
                <label class="form-label">Date</label>
                <input autocomplete="off" class="form-control" value="Mar 22" />
              </div>
              <div class="form-group">
                <label class="form-label">Time</label>
                <input autocomplete="off" class="form-control" [(ngModel)]="selectedTime" [typeahead]="time" />
              </div>
              <div class="form-group -x5">
                <label class="form-label">Address Line 1</label>
                <input autocomplete="off" class="form-control" value="734 University Driver" />
              </div>
              <div class="form-group">
                <label class="form-label">Address Line 2</label>
                <div>
                  <button class="button -outline -addon">+</button>
                  <input autocomplete="off" class="form-control" value="" />
                </div>
              </div>
              <div class="form-group flex">
                <div class="col-7 pr1">
                  <label class="form-label">City</label>
                  <input autocomplete="off" class="form-control" value="Burr Ridge" />
                </div>
                <div class="col-5 pl1">
                  <label class="form-label">State</label>
                  <input autocomplete="off" class="form-control" value="IL" />
                </div>
              </div>
              <div class="form-group flex">
                <div class="col-7 pr1">
                  <label class="form-label">Country</label>
                  <input autocomplete="off" class="form-control" value="USA" />
                </div>
                <div class="col-5 pl1">
                  <label class="form-label">ZIP</label>
                  <input autocomplete="off" class="form-control" value="60527" />
                </div>
              </div>
              <div class="form-group -x5">
                <label class="form-label">Name</label>
                <input autocomplete="off" class="form-control" value="Fred P. Carr" />
              </div>
              <div class="form-group">
                <label class="form-label">Company</label>
                <input autocomplete="off" class="form-control" value="Superior Interior Design" />
              </div>
              <div class="form-group">
                <label class="form-label">Phone</label>
                <input autocomplete="off" class="form-control" type="tel" value="312-682-2195" />
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="button -outline" type="button" (click)="stopModal.hide()">Cancel</button>
          <button class="button -primary" type="button">Update stop for all shipments</button>
        </div>
      </div>
    </form>
  </div>
</div>


<!-- Shipment modal -->
<div bsModal #shipmentModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myShipmentModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <form action="" novalidate>
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="modal-close" aria-label="Close" (click)="shipmentModal.hide()" title="Close">&times;</button>
          <h1 class="modal-title">Shipment</h1>
        </div>
        <div class="modal-body">
          <div class="flex form-group">
            <div class="col-4 pr2">
              <label class="form-label">BOL</label>
              <input autocomplete="off" class="form-control" />
            </div>
            <div class="col-8 pl2">
              <label class="form-label">Carrier Special Instructions</label>
              <input autocomplete="off" class="form-control" />
            </div>
          </div>
          <hr class="form-group -x5" />
          <div class="modal-cols flex form-group -x5">
            <div class="modal-cols-diff"></div>
            <div class="modal-cols-separator"></div>
            <div class="pl4 pr8 col-6">
              <h2 class="center">Pick Up</h2>
              <div class="form-group -x3">
                <label class="form-label">Date</label>
                <input autocomplete="off" class="form-control" value="Mar 22" />
              </div>
              <div class="form-group">
                <label class="form-label">Time</label>
                <input autocomplete="off" class="form-control" [(ngModel)]="selectedTime" [typeahead]="time" />
              </div>
              <div class="form-group -x5 center" dropdown keyboardNav="true" autoClose="outsideClick">
                <button class="button-fields" dropdownToggle>
                  <span class="icon -fields"></span>
                  Fill fields with existing stop parameters
                </button>
                <div class="dropdown-menu -xlg -center" role="menu" dropdownMenu>
                  <div class="dropdown-filter-field">
                    <input autocomplete="off" class="form-control" type="text" placeholder="Filter" />
                  </div>
                  <div class="dropdown-filter-content">
                    <div class="form-group -x2">
                      <h5 class="dropdown-filter-title">This Load Stops</h5>
                      <ul class="dropdown-filter-list">
                        <li>
                          <a href="#">
                            <strong>Mar 20 <small>All Day</small></strong>
                            <span>3036 Parkway Street, Deser Hot Springs, CA, USA, 152</span>
                            <span class="label-gray">Fred P. Carr, Superior Interior Design, 312-682-2195</span>
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <strong>Mar 22 <small>All Day</small></strong>
                            <span>734 University Drive, Burr Ridge, IL, USA,60526</span>
                            <span class="label-gray">Fred P. Carr, Superior Interior Design, 312-682-2195</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                    <div class="form-group -x2">
                      <h5 class="dropdown-filter-title">Favorite Addresses</h5>
                      <ul class="dropdown-filter-list">
                        <li>
                          <a href="#">
                            <svg class="icon -star"><use xlink:href="#svg_star"/></svg>
                            <strong>CA Warehouse</strong>
                            <span>3036 Parkway Street, Deser Hot Springs, CA, USA, 152</span>
                            <span class="label-gray">Fred P. Carr, Superior Interior Design, 312-682-2195</span>
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <svg class="icon -star"><use xlink:href="#svg_star"/></svg>
                            <strong>IL Warehouse</strong>
                            <span>734 University Drive, Burr Ridge, IL, USA,60526</span>
                            <span class="label-gray">Fred P. Carr, Superior Interior Design, 312-682-2195</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group -x5">
                <label class="form-label">Address Line 1</label>
                <input autocomplete="off" class="form-control" />
              </div>
              <div class="form-group">
                <label class="form-label">Address Line 2</label>
                <input autocomplete="off" class="form-control" />
              </div>
              <div class="form-group flex">
                <div class="col-7 pr1">
                  <label class="form-label">City</label>
                  <input autocomplete="off" class="form-control" />
                </div>
                <div class="col-5 pl1">
                  <label class="form-label">State</label>
                  <input autocomplete="off" class="form-control" />
                </div>
              </div>
              <div class="form-group flex">
                <div class="col-7 pr1">
                  <label class="form-label">Country</label>
                  <input autocomplete="off" class="form-control" />
                </div>
                <div class="col-5 pl1">
                  <label class="form-label">ZIP</label>
                  <input autocomplete="off" class="form-control" />
                </div>
              </div>
              <div class="form-group -x5">
                <label class="form-label">Name</label>
                <input autocomplete="off" class="form-control" />
              </div>
              <div class="form-group">
                <label class="form-label">Company</label>
                <input autocomplete="off" class="form-control" />
              </div>
              <div class="form-group">
                <label class="form-label">Phone</label>
                <input autocomplete="off" class="form-control" type="tel" />
              </div>
            </div>
            <div class="pl8 pr4 col-6">
              <h2 class="center">Drop Off</h2>
              <div class="form-group -x3 error">
                <label class="form-label">
                  Date
                  <span class="dropdown" dropdown keyboardNav="true">
                    <span class="label-tooltip -error" dropdownToggle>!</span>
                    <span class="block dropdown-menu -center -md" dropdownMenu>
                      <h3 class="label-danger label-lg">Pick Up date should be earlier the Drop Off date.</h3>
                      <div>Please correct the dates.</div>
                    </span>
                  </span>
                </label>
                <input autocomplete="off" class="form-control -datepicker" value="Mar 22" />
              </div>
              <div class="form-group">
                <label class="form-label">Time</label>
                <input autocomplete="off" class="form-control" [(ngModel)]="selectedTime" [typeahead]="time" />
              </div>
              <div class="form-group -x5 center" dropdown keyboardNav="true" autoClose="outsideClick">
                <button class="button-fields" dropdownToggle>
                  <span class="icon -fields"></span>
                  Fill fields with existing stop parameters
                </button>
                <div class="dropdown-menu -xlg -center" role="menu" dropdownMenu>
                  <div class="dropdown-filter-field">
                    <input autocomplete="off" class="form-control" type="text" placeholder="Filter" />
                  </div>
                  <div class="dropdown-filter-content">
                    <div class="form-group -x2">
                      <h5 class="dropdown-filter-title">This Load Stops</h5>
                      <ul class="dropdown-filter-list">
                        <li>
                          <a href="#">
                            <strong>Mar 20 <small>All Day</small></strong>
                            <span>3036 Parkway Street, Deser Hot Springs, CA, USA, 152</span>
                            <span class="label-gray">Fred P. Carr, Superior Interior Design, 312-682-2195</span>
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <strong>Mar 22 <small>All Day</small></strong>
                            <span>734 University Drive, Burr Ridge, IL, USA,60526</span>
                            <span class="label-gray">Fred P. Carr, Superior Interior Design, 312-682-2195</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                    <div class="form-group -x2">
                      <h5 class="dropdown-filter-title">Favorite Addresses</h5>
                      <ul class="dropdown-filter-list">
                        <li>
                          <a href="#">
                            <svg class="icon -star"><use xlink:href="#svg_star"/></svg>
                            <strong>CA Warehouse</strong>
                            <span>3036 Parkway Street, Deser Hot Springs, CA, USA, 152</span>
                            <span class="label-gray">Fred P. Carr, Superior Interior Design, 312-682-2195</span>
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <svg class="icon -star"><use xlink:href="#svg_star"/></svg>
                            <strong>IL Warehouse</strong>
                            <span>734 University Drive, Burr Ridge, IL, USA,60526</span>
                            <span class="label-gray">Fred P. Carr, Superior Interior Design, 312-682-2195</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group -x5 error">
                <label class="form-label">
                  Address Line 1
                  <span class="dropdown" dropdown keyboardNav="true">
                    <span class="label-tooltip -error" dropdownToggle>!</span>
                    <span class="block dropdown-menu -center -md" dropdownMenu>
                      <h3 class="label-danger label-lg">Pick Up date should be earlier the Drop Off date.</h3>
                      <div>Please correct the dates.</div>
                    </span>
                  </span>
                </label>
                <input autocomplete="off" class="form-control" />
              </div>
              <div class="form-group error">
                <label class="form-label">
                  Address Line 2
                  <span class="dropdown" dropdown keyboardNav="true">
                    <span class="label-tooltip -error" dropdownToggle>!</span>
                    <span class="block dropdown-menu -center -md" dropdownMenu>
                      <h3 class="label-danger label-lg">Pick Up date should be earlier the Drop Off date.</h3>
                      <div>Please correct the dates.</div>
                    </span>
                  </span>
                </label>
                <input autocomplete="off" class="form-control" />
              </div>
              <div class="form-group flex error">
                <div class="col-7 pr1">
                  <label class="form-label">
                    City
                    <span class="dropdown" dropdown keyboardNav="true">
                      <span class="label-tooltip -error" dropdownToggle>!</span>
                      <span class="block dropdown-menu -center -md" dropdownMenu>
                        <h3 class="label-danger label-lg">Pick Up date should be earlier the Drop Off date.</h3>
                        <div>Please correct the dates.</div>
                      </span>
                    </span>
                  </label>
                  <input autocomplete="off" class="form-control" />
                </div>
                <div class="col-5 pl1 error">
                  <label class="form-label">
                    State
                    <span class="dropdown" dropdown keyboardNav="true">
                      <span class="label-tooltip -error" dropdownToggle>!</span>
                      <span class="block dropdown-menu -center -md" dropdownMenu>
                        <h3 class="label-danger label-lg">Pick Up date should be earlier the Drop Off date.</h3>
                        <div>Please correct the dates.</div>
                      </span>
                    </span>
                  </label>
                  <input autocomplete="off" class="form-control" />
                </div>
              </div>
              <div class="form-group flex error">
                <div class="col-7 pr1">
                  <label class="form-label">
                    Country
                    <span class="dropdown" dropdown keyboardNav="true">
                      <span class="label-tooltip -error" dropdownToggle>!</span>
                      <span class="block dropdown-menu -center -md" dropdownMenu>
                        <h3 class="label-danger label-lg">Pick Up date should be earlier the Drop Off date.</h3>
                        <div>Please correct the dates.</div>
                      </span>
                    </span>
                  </label>
                  <input autocomplete="off" class="form-control" />
                </div>
                <div class="col-5 pl1 error">
                  <label class="form-label">
                    ZIP
                    <span class="dropdown" dropdown keyboardNav="true">
                      <span class="label-tooltip -error" dropdownToggle>!</span>
                      <span class="block dropdown-menu -center -md" dropdownMenu>
                        <h3 class="label-danger label-lg">Pick Up date should be earlier the Drop Off date.</h3>
                        <div>Please correct the dates.</div>
                      </span>
                    </span>
                  </label>
                  <input autocomplete="off" class="form-control" />
                </div>
              </div>
              <div class="form-group -x5">
                <label class="form-label">Name</label>
                <input autocomplete="off" class="form-control" />
              </div>
              <div class="form-group">
                <label class="form-label">Company</label>
                <input autocomplete="off" class="form-control" />
              </div>
              <div class="form-group">
                <label class="form-label">Phone</label>
                <input autocomplete="off" class="form-control" type="tel" />
              </div>
            </div>
          </div>
          <div class="form-group -x7">
            <h2>
              Packages
              &nbsp;
              <button class="button -outline" type="button" title="Add Line">+ Add Package</button>
            </h2>
            <table class="table -simple">
              <thead>
                <tr>
                  <th width="7%">Qty</th>
                  <th width="17%">Type</th>
                  <th width="17%">Height</th>
                  <th width="17%">Volume</th>
                  <th width="17%">Weight</th>
                  <th width="25%" class="nowrap">Freight Class</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <input autocomplete="off" class="form-control" value="2" />
                  </td>
                  <td>
                    <select class="form-control">
                      <option>Palette</option>
                      <option>Box</option>
                      <option>Barrel</option>
                    </select>
                  </td>
                  <td>
                    <div class="flex">
                      <div class="col-6 -merged">
                        <input autocomplete="off" type="number" class="form-control" value="100" />
                      </div>
                      <div class="col-6 -merged">
                        <select class="form-control">
                          <option>in</option>
                        </select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="flex">
                      <div class="col-6 -merged">
                        <input autocomplete="off" type="number" class="form-control" value="57" />
                      </div>
                      <div class="col-6 -merged">
                        <select class="form-control">
                          <option>in</option>
                        </select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="flex">
                      <div class="col-6 -merged">
                        <input autocomplete="off" type="number" class="form-control" value="160" />
                      </div>
                      <div class="col-6 -merged">
                        <select class="form-control">
                          <option>ft³</option>
                        </select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <button class="table-remove" type="button" title="Remove">&times;</button>
                    <select class="form-control">
                      <option>50</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td>
                    <input autocomplete="off" class="form-control" value="2" />
                  </td>
                  <td>
                    <select class="form-control">
                      <option>Palette</option>
                      <option>Box</option>
                      <option>Barrel</option>
                    </select>
                  </td>
                  <td>
                    <div class="flex">
                      <div class="col-6 -merged">
                        <input autocomplete="off" type="number" class="form-control" value="100" />
                      </div>
                      <div class="col-6 -merged">
                        <select class="form-control">
                          <option>in</option>
                        </select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="flex">
                      <div class="col-6 -merged">
                        <input autocomplete="off" type="number" class="form-control" value="57" />
                      </div>
                      <div class="col-6 -merged">
                        <select class="form-control">
                          <option>in</option>
                        </select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="flex">
                      <div class="col-6 -merged">
                        <input autocomplete="off" type="number" class="form-control" value="160" />
                      </div>
                      <div class="col-6 -merged">
                        <select class="form-control">
                          <option>ft³</option>
                        </select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <button class="table-remove" type="button" title="Remove">&times;</button>
                    <select class="form-control">
                      <option>50</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td>
                    <input autocomplete="off" class="form-control" value="2" />
                  </td>
                  <td>
                    <select class="form-control">
                      <option>Palette</option>
                      <option>Box</option>
                      <option>Barrel</option>
                    </select>
                  </td>
                  <td>
                    <div class="flex">
                      <div class="col-6 -merged">
                        <input autocomplete="off" type="number" class="form-control" value="100" />
                      </div>
                      <div class="col-6 -merged">
                        <select class="form-control">
                          <option>in</option>
                        </select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="flex">
                      <div class="col-6 -merged">
                        <input autocomplete="off" type="number" class="form-control" value="57" />
                      </div>
                      <div class="col-6 -merged">
                        <select class="form-control">
                          <option>in</option>
                        </select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="flex">
                      <div class="col-6 -merged">
                        <input autocomplete="off" type="number" class="form-control" value="160" />
                      </div>
                      <div class="col-6 -merged">
                        <select class="form-control">
                          <option>ft³</option>
                        </select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <button class="table-remove" type="button" title="Remove">&times;</button>
                    <select class="form-control">
                      <option>50</option>
                    </select>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="form-group -x7">
            <h2>
              Orders
              &nbsp;
              <button class="button -outline" type="button" title="Add Line">+ Add Order</button>
            </h2>
            <table class="table -simple">
              <thead>
                <tr>
                  <th width="50%">Order #</th>
                  <th width="50%">Purchase Order #</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <input autocomplete="off" class="form-control" value="183ew23-212" />
                  </td>
                  <td>
                    <button class="table-remove" type="button" title="Remove">&times;</button>
                    <input autocomplete="off" class="form-control" value="0101058000024812" />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="modal-footer">
          <button class="button -outline" type="button" (click)="shipmentModal.hide()">Cancel</button>
          <button class="button -primary" type="button">Add Shipment</button>
        </div>
      </div>
    </form>
  </div>
</div>