<div class="form-control multiple">
	<span class="multiple-selected" *ngFor="let email of emailOutput.emailsList; let idx = index">
		<span>{{email}}</span>
		<span class="multiple-selected-delete" [hidden]="disabled" (click)="removeEmail(idx)" title="Delete">×</span>
	</span>
	<form (submit)="addEmail(true)">
	  <input id="tracking_email_field" autocomplete="off" autofocus="" (keyup)="keyDown($event)" 
			 class="multiple-field -w100 ng-pristine ng-valid ng-touched" type="text" placeholder="Type email" 
			 [(ngModel)]="newEmail" (ngModelChange)="addEmail()" (blur)="addEmail(true)">
		<div [hidden]="emailOutput.emailValid" class="label-validation-error">Email Address is invalid</div>
	</form>
</div>