<header class="page-header">
  <div class="page-header-back">
    <a (click)="gotoLast()" class="button -outline -arrow-left" href="javascript:;">Loads</a>
  </div>
  <h1>Tendering Load # 45678</h1>
</header>

<div class="page-info flex">
  <div class="page-info-left">
    <div class="label-lg form-group flex-auto">BOL 2342 342-465-335 0043</div>
    <div class="form-group">
      <div class="form-label -text">Carrier division</div>
      <div>12324538345</div>
      <div>Div CA</div>
    </div>
  </div>
  <div class="flex page-info-right">
    <div class="col-4 pr8">
      <div class="form-label -text">Origin</div>
      <div class="label-md form-group">1800 NE Alberta St Portland, OR 97211 USA, CA, 15229</div>
      <div class="form-group">Mar 20, 2016 &mdash; All Day</div>
    </div>
    <div class="col-4 center self-center">
      <div class="wayline -sm">
        <div class="wayline-content -sm"><span class="label-count">3</span> Intermediate stop</div>
      </div>
    </div>
    <div class="col-4 pl8 right-align">
      <div class="form-label -text">Destination</div>
      <div class="label-md form-group">8462 S Vaquero Dr Sandy, UT 84094 USA, CA, 15229</div>
      <div class="form-group">Mar 21, 2016 &mdash; All Day</div>
    </div>
  </div>
</div>

<div class="page-content">

  <div class="flex relative">
    <div class="modal-cols-separator"></div>
    <div class="col-6 pr4">
      <div class="flex items-baseline">
        <h2 class="pr2">Drivers</h2>
        <div class="flex flex-auto">
          <input autocomplete="off" class="form-control flex-auto -addon" type="search" placeholder="Find Driver" />
          <label class="form-addon flex items-center" title="Show only favorites"><input type="checkbox" hidden /><svg class="icon -favorite -filter"><use xlink:href="#svg_star"/></svg></label>
        </div>
      </div>
      <div class="card">
        <div class="card-bubble">
          <a href="#" class="card-icon -active">
            <svg class="icon -quote -md"><use xlink:href="#svg_quote"/></svg>
          </a>
        </div>
        <div class="card-title">
          <a href="#" class="label-lg regular">Boris Finerman</a>
          <a href="#" class="card-icon -active"><svg class="icon -favorite"><use xlink:href="#svg_star"/></svg></a>
          <div class="label-gray">b.finerman@gmail.com</div>
        </div>
        <div class="card-buttons">
          <button type="button" class="button -outline-primary card-button">Assign</button>
          <span class="card-label">
            <button class="card-cancel">&times;</button>
            <strong>Offered</strong>
          </span>
        </div>
      </div>
      <div class="card">
        <div class="card-bubble">
          <a href="#" class="card-icon">
            <svg class="icon -quote -md"><use xlink:href="#svg_quote"/></svg>
          </a>
        </div>
        <div class="card-title">
          <a href="#" class="label-lg regular">Silva Pancheto</a>
          <a href="#" class="card-icon"><svg class="icon -favorite"><use xlink:href="#svg_star"/></svg></a>
          <div class="label-gray">pancheto@gmail.com</div>
        </div>
        <div class="card-buttons">
          <button type="button" class="button -outline-primary card-button">Assign</button>
          <button type="button" class="button -outline card-button">Offer</button>
        </div>
      </div>
      <div class="card">
        <div class="card-bubble">
          <a href="#" class="card-icon">
            <svg class="icon -quote -md"><use xlink:href="#svg_quote"/></svg>
          </a>
        </div>
        <div class="card-title">
          <a href="#" class="label-lg regular">Antonio Badrigez</a>
          <a href="#" class="card-icon"><svg class="icon -favorite"><use xlink:href="#svg_star"/></svg></a>
          <div class="label-gray">badrigez@gmail.com</div>
        </div>
        <div class="card-buttons">
          <button type="button" class="button -outline-primary card-button">Assign</button>
          <span class="card-label -disabled">
            <strong>Rejected</strong>
          </span>
        </div>
      </div>
      <div class="card">
        <div class="card-bubble">
          <a href="#" class="card-icon -active">
            <svg class="icon -quote -md"><use xlink:href="#svg_quote"/></svg>
          </a>
        </div>
        <div class="card-title">
          <a href="#" class="label-lg regular">Barney Lock</a>
          <a href="#" class="card-icon -active"><svg class="icon -favorite"><use xlink:href="#svg_star"/></svg></a>
          <div class="label-gray">kingpin@gmail.com</div>
        </div>
        <div class="card-buttons">
          <button type="button" class="button -outline-primary card-button">Assign</button>
          <button type="button" class="button -outline card-button">Offer</button>
        </div>
      </div>
    </div>
    <div class="col-6 pl4">
      <h2>Assigned to</h2>
      <div class="card">
        <div class="card-bubble">
          <a href="#" class="card-icon">
            <svg class="icon -quote -md"><use xlink:href="#svg_quote"/></svg>
          </a>
        </div>
        <div class="card-title">
          <a href="#" class="label-lg regular">Sebastian P. Fletcher</a>
          <a href="#" class="card-icon -active"><svg class="icon -favorite"><use xlink:href="#svg_star"/></svg></a>
          <div class="label-gray">man@gmail.com</div>
        </div>
        <div class="card-buttons">
          <button type="button" class="button -outline-primary card-button">Assign</button>
          <span class="card-label -primary">
            <button class="card-cancel">&times;</button>
            <strong>Accepted</strong>
          </span>
        </div>
      </div>
    </div>
  </div>

</div>